:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
}


.source-serif-4-elem {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: hsl(0, 0%, 93%);
    margin: 0;
    --left-right-margin: 80px;
}

/* ****HEADER STYLE**** */

header .wrapper {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    margin: 0 var(--left-right-margin) 0;
    /* height: 500px; */
    padding-top: 3em;
    padding-bottom: 0;
    justify-content: center;
}

h1 {
    font-style: inherit;
    font-size: 2.5em;
    margin: 0;
}

header .img-container {

    display: block;
    background-color: white;
    min-width: 450px;
    width: 450px;
    min-height: auto;
    box-shadow: 0px 0px 5px black;
    z-index: 10;

    & img {
        /* object-fit: contain; */
        display: block;
        width: 100%;
    }

    & h1 {
        position: absolute;
        transform: translate(2%, -85px);
        font-size: 4.3em;

        color: #ffffff;
        text-shadow: rgb(44, 44, 44) 2px 2px 10px;
    }

}


.social-media-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 150px;
    padding: 5px;

}

#about-me {
    box-sizing: border-box;
    display: inline-block;
    width: min(100vw - 450px, 650px);
    align-self: center;
    background-color: antiquewhite;
    box-shadow: 0px 0px 5px black;
    padding: 1.4em 1em;
    justify-content: space-evenly;
    justify-items: end;

    & .social-media-links {
        min-width: 150px;
        padding-left: calc(100% - 150px);

    }

    & h1 {
        font-weight: 600;
    }
}

#about-me p {
    font-size: 1.3em;
}

/* ****MAIN BODY STYLE**** */

#main-container {
    margin: 3em var(--left-right-margin) 2em;
}

#card-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4em;

    margin: 1em 0 2em;
}

.work-card {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 5px black;

    display: flex;
    flex-direction: column;

    & img {
        width: 100%;
    }

    & .img-container {
        height: auto;
        border-bottom: black solid 1px;
    }

    & h1 {
        font-size: xx-large;
    }

    & .social-media-links {
        grid-template-columns: 1fr;
        max-width: 2em;
        min-width: 85px;
        justify-self: right;

    }
}

.card-body {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 2fr 1fr;
    gap: 5px 7px;
    padding: 0.6em .5em;

    & :nth-child(3) {
        display: block;
        grid-column: auto / span 2;
    }
}

.project-links {
    gap: 12px;
}

/* ****FOOTER**** */

footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(2, auto);
    background-color: grey;
    align-items: center;
    padding: 3em var(--left-right-margin) 3em;

    & .img-container {
        grid-column: 2/3;
        grid-row: 1/3;
        height: fit-content;
        justify-self: center;
    }

    & .contact-info {
        justify-self: center;
    }

    & h1 {
        justify-self: center;
    }
}

footer #icon-credit {
    font-size: smaller;
}

.svg-container {
    max-width: 50px;
    max-height: 50px;
}

@media (min-width: 781px) and (max-width: 1100px) {

    header {
        padding-top: 4em;
    }

    header .wrapper {
        box-sizing: content-box;
        display: block;
        margin: 0;
        padding: 50px;
    }

    h1 {
        font-style: inherit;
        font-size: 2.2em;
        margin: 0;
    }

    #about-me {
        display: block;
        width: min(100vw - 250px, 600px);
        margin-top: 50px;
        margin: 50px auto 0;
        padding-top: 50px;

        & .social-media-links {
            min-width: 100px;
            width: 100px;
            padding-left: calc(100% - 100px);
        }
    }

    header .img-container {
        display: block;
        float: left;
        background-color: white;
        min-width: 350px;
        width: 350px;
        margin-right: 1.5rem;
        margin-bottom: 1rem;

        & img {
            display: block;
            width: 100%;
        }

        & h1 {
            transform: translate(2%, -70px);
            font-size: 3.3em;
        }

    }


    .social-media-links {
        gap: 15px;
    }

    #card-container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 2.4em;

        margin: 1em 0 2em;
    }

    .card-body {
        & h1 {
            max-width: 200px;
        }

        & .social-media-links {
            min-width: 65px;
            width: 50px;
        }
    }

    /* *** FOOTER *** */

    footer {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: repeat(2, auto);
        background-color: grey;
        align-items: center;
        padding: 3em var(--left-right-margin) 3em;

        & .img-container picture img {
            max-width: min(100vw - 500px, 350px);
        }

        & .contact-info {
            justify-self: center;
        }

        & h1 {
            justify-self: center;
        }
    }

    footer #icon-credit {
        font-size: smaller;
    }

    .svg-container {
        max-width: 50px;
        max-height: 50px;
    }

}

@media (max-width: 780px) {

    body {
        --mobile-left-right: calc(var(--left-right-margin) - 20px);
        min-width: 580px;
    }

    .source-serif-4-elem {
        font-size: 3.8em;
    }

    /* figure this shit out -_- */
    header {
        background-color: rgb(176, 176, 176);
        /* display: flex; */
        justify-content: center;
        /* min-width: 580px; */
    }

    header .wrapper {
        flex-direction: column;
        /* justify-items: center; */
        /* background-color: blue; */
        min-width: 450px;
        margin: 0;
        padding: 2em var(--mobile-left-right) 3em;
    }

    header .img-container {
        position: relative;
        float: none;
        margin: 0;
        /* min-width: 300px; */
        width: 100%;
        align-self: center;

        & img {
            display: block;
            width: 100%;
        }

        & h1 {
            font-size: 108px;
            transform: translate(3%, -230px);
            line-height: 1;
        }

    }

    #about-me {
        background-color: rgb(255, 255, 255);
        width: 100%;

        & h1 {
            font-weight: 600;
        }

        & p {
            font-size: 32px;
        }
    }

    #main-container {
        margin-left: var(--mobile-left-right);
    }

    #card-container {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
        margin: 1em 0 2em;
    }

    .work-card .card-body {
        height: 17em;
        padding: 0 1em 1.2em;

        & h1 {
            font-size: 3.2em;
            align-self: center;

        }

        & p {
            font-size: 1.3em;
        }

        & .social-media-links {
            align-self: center;

        }
    }

    .work-card .svg-container {
        max-width: 66px;
    }

    footer picture img {
        display: block;
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        background-color: grey;
        justify-content: center;
        padding: 3em var(--mobile-left-right) 3em;

        & .contact-info {
            display: flex;
            flex-direction: column;
        }

        & p {
            font-size: 1.2em;
        }

        & .social-media-links {
            gap: 30px;
        }
    }

    footer #icon-credit {
        font-size: smaller;
    }

    footer .svg-container {
        max-width: 66px;
    }
}

/*
For Mobile Devices – 320px — 480px.
iPads and Tablets – 481px — 768px.
Laptops and small screen – 769px — 1024px.
Large screens and Desktops – 1025px — 1200px.
*/